extends ../../layout/default.pug
include ../../mixin/alert.pug

block style
  link(rel='stylesheet', href='/css/profile.css')

block main
  .container()
    .profile
      .profile-avatar
        img(src='/img/english.jpg' alt='Avatar')
      .profile-info
        h2 Tên :Quốc bro
        p ID: 2222
        p Email: quochocCrow@gmail.com
        .profile-flag
          p Quốc gia :
          img(src='/img/covn.png' alt='Vietnam')
    .profile-stats
      .stat
        p.stat-title Bài đăng
        p.stat-value 0
      .stat
        p.stat-title Thích bài
        p.stat-value 0
    .content
    .activity
      h3 Hoạt động gần đây
      p.no-activity Chưa có hoạt động nào
    .courses
      h3 Các khóa học đã tham gia
      .course-list
        .course
          .course-image
            img(src='/img/english.jpg' alt='Tiếng Anh Cơ Bản')
          .course-info
            h4 Tiếng Anh cơ bản
            p Làm quen với các từ vựng và cải thiện tiếng Anh.
        .course
          .course-image
            img(src='/img/english.jpg' alt='Tiếng Anh Nâng Cao')
          .course-info
            h4 Tiếng Anh nâng cao
            p Nâng cao khả năng nói, viết, nghe.
        .course
          .course-image
            img(src='/img/english.jpg' alt='Tiếng Trung Nâng Cao')
          .course-info
            h4 Tiếng Trung Nâng Cao
            p Nâng cao khả năng nói, viết, nghe.
        .course
          .course-image
            img(src='/img/english.jpg' alt='Tiếng Trung cơ bản')
          .course-info
            h4 Tiếng Trung cơ bản
            p Nâng cao khả năng nói, viết, nghe.
        .course
          .course-image
            img(src='/img/english.jpg' alt='Tiếng Đức cơ bản')
          .course-info
            h4 Tiếng Đức cơ bản
            p Nâng cao khả năng nói, viết, nghe.
        .course
          .course-image
            img(src='/img/english.jpg' alt='Tiếng Trung nâng cao')
          .course-info
            h4 Tiếng Trung nâng cao
            p Nâng cao khả năng nói, viết, nghe.
        .course
          .course-image
            img(src='/img/english.jpg' alt='Tiếng Nhật cơ bản')
          .course-info
            h4 Tiếng Nhật cơ bản
            p Nâng cao khả năng nói, viết, nghe.