doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title About
        link(rel="icon" type="image/x-icon" href="/img/logo_crow.ico")
        link(rel="stylesheet" href="./css/gioithieu.css")

    body
        .banner
            .slider(style='--quantity: 10')
                .item(style='--position: 1')
                    img(src='img/gioithieu/dragon_1.jpg' alt='')
                .item(style='--position: 2')
                    img(src='img/gioithieu/dragon_2.jpg' alt='')
                .item(style='--position: 3')
                    img(src='img/gioithieu/dragon_3.jpg' alt='')
                .item(style='--position: 4')
                    img(src='img/gioithieu/dragon_4.jpg' alt='')
                .item(style='--position: 5')
                    img(src='img/gioithieu/dragon_5.jpg' alt='')
                .item(style='--position: 6')
                    img(src='img/gioithieu/dragon_6.jpg' alt='')
                .item(style='--position: 7')
                    img(src='img/gioithieu/dragon_7.jpg' alt='')
                .item(style='--position: 8')
                    img(src='img/gioithieu/dragon_8.jpg' alt='')
                .item(style='--position: 9')
                    img(src='img/gioithieu/dragon_9.jpg' alt='')
                .item(style='--position: 10')
                    img(src='img/gioithieu/dragon_10.jpg' alt='')
            .content
                h1(data-content='CSS ONLY')
                    | CSS ONLY
                .author
                    h2 CROW
                    a(href='/' style=' text-decoration: none; cursor: pointer; color: #fff;')
                        p
                            b Learning with me
                    p
                        | Send mail to me: huybrox@gmail.com
                .model

