footer.footer
    .container-custom
        .sub
            h3 Subscribe Newsletters
            p Enter your email address to register to our newsletter
            form
                .form-group
                    input.form-control(type='email' placeholder='Email...')
                    button.btn.btn-login(type='submit') Đăng ký
        .bott
            .row
                .col-4.bot-leftt
                    .box
                        img(src='/img/logo_crow.svg' alt='Logo' height='100' style='max-width: 100%; height: auto;')
                        h4 Crow.
                    p Join our newsletter to stay up to date on features and releases.
                    form
                        .form-group
                            input.form-control(type='email' placeholder='Email...')
                            button.btn.btn-login(type='submit') Đăng ký
                .col-2
                    ul
                        li.title-li
                            a(href='#') Pages
                        li.lili
                            a(href='#') Home
                        li.lili
                            a(href='#') About
                        li.lili
                            a(href='#') Contact
                .col-2
                    ul
                        li.title-li
                            a(href='#') Pages
                        li.lili
                            a(href='#') Home
                        li.lili
                            a(href='#') About
                        li.lili
                            a(href='#') Contact
                .col-2
                    ul
                        li.title-li
                            a(href='#') Pages
                        li.lili
                            a(href='#') Home
                        li.lili
                            a(href='#') About
                        li.lili
                            a(href='#') Contact
                .col-2
                    ul
                        li.title-li
                            a(href='#') Pages
                        li.lili
                            a(href='#') Home
                        li.lili
                            a(href='#') About
                        li.lili
                            a(href='#') Contact
        hr
        ul.copyright
            li
                a(href='#') ©All rights reserved.
            li
                a(href='#') Terms
            li
                a(href='#') Privacy policy


